@import './base/reset';
@import './utils/variables';

@import './components/keyframes';
@import './components/body';
@import './components/container';
@import './components/common';
@import './components/btn';
@import './components/hidden';
@import './components/socials';

@import './layout/header';
@import './layout/hero';
@import './layout/features';
@import './layout/boxes';
@import './layout/team';
@import './layout/clients';
@import './layout/portfolio-nav';
@import './layout/portfolio-projects';
@import './layout/footer';
@import './layout/footer-social-link';
@import './layout/footer-form';
@import './layout/modal';
