:root {
  --header-color: #ffffff;
  --footer-color: #2f303a;
  --accent-color: #2196f3;
  --title-color: #212121;
  --text-color: #757575;
  --btn-color: #2196f3;
  --btn-active: #188ce8;
  --btn-background: #f5f4fa;
  --icon-social-logo: #afb1b8;

  --gap: 30px;
}
