.footer-social-section{
  margin-bottom: 60px;
}
.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--header-color);

  margin-bottom: 20px;
  text-align: center;
  @include desk{
  text-align: start;
  }
}
.footer-social-list {
  display: flex;
  justify-content: center;
  @include desk{
    margin-right: 93px;
  }
}
.footer-social-link {
  color: var(--header-color);
  background: rgba(255, 255, 255, 0.1);
}
