.hero__container {
  max-width: 1600px;
  padding: 200px 0;
}
.hero {
  background-color: #2f303a;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--header-color);

  margin: 0 auto;
  max-width: 650px;
  text-align: center;
  margin-bottom: var(--gap);
}
.hero__btn {
  padding: 10px 32px;
}
