.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  transition: opacity 1000ms, visibility 1000ms;

  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden .modal {
  transform: scale(0.1) rotate(180deg);
  animation-name: modal;
  animation-duration: 5000ms;
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 1000ms;

  width: 528px;
  min-height: 581px;
  background-color: var(--header-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--header-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  &:focus,
  &:hover {
    fill: var(--accent-color);
  }
}
.modal-icon-close {
  width: 11px;
  height: 11px;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;

  margin-bottom: 12px;
}
.modal-user,
.modal-textarea {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: var(--text-color);

  margin-bottom: 4px;
}
.input-wrap {
  position: relative;
}
.form-imput {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  margin-bottom: 10px;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
  }

  &:focus + .imput-icon {
    fill: var(--accent-color);
  }
}
.imput-icon {
  position: absolute;
  left: 12px;
  top: 11px;

  width: 18px;
  height: 18px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
}
.text-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);

  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;

  & span {
    width: 16px;
    height: 15px;

    border: 2px solid var(--title-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.icon-check {
  width: 16px;
  height: 15px;
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.policy-check:checked + .text-checkbox span {
  border: none;
  background-color: var(--accent-color);
}
.policy-check:checked + .text-checkbox .icon-check {
  fill: var(--header-color);
}

.modal-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: #2196f3;
}
.modal-btn {
  padding: 10px 56px;

  display: block;
  margin: 0 auto;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
