.team-section {
  background: #f5f4fa;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--gap));
  margin-left: calc(-1 * var(--gap));
}
.team-list__item {
  background: var(--header-color);

  flex-basis: calc(100% / 4 - var(--gap));
  margin-top: var(--gap);
  margin-left: var(--gap);

  width: 270px;
  left: 515px;
  top: 1635px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-info__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--title-color);

  padding-bottom: 10px;
}
.team-info__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--text-color);

  margin-bottom: 16px;
}
.team-info {
  padding: var(--gap) 0;
}

// ____Social list____

.team-social-list {
  display: flex;
  justify-content: center;
}
.team-social-link {
  color: var(--icon-social-logo);
}
