.social-list__item {
  & + & {
    margin-left: 10px;
  }
}
.social-list__link {
  width: 44px;
  height: 44px;
  background-color: inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--header-color);
  }
}
.social-list__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
